body {
    margin: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

form {
    width: 350px;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 3px 9px;
}

header {
    width: 100%;
    text-align: center;
    font-size: 40px;
    height: 50px;
    background-color:   #9fa9a3;
    color: black;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.inputs {
    padding: 7px 15px;
}

.inputs label{
    font-size: 27px;
    font-weight: 800;
}

.inputs input {
    width: 100%;
    border: none;
    height: 22px;
    border-radius: 5px;
    outline: none;
}

.inputs input:focus {
    font-size: 22px;
}

.field {
    display: flex;
    justify-content: end;
    padding: 10px 12px 0 0;
}

input.btn, a button.btn{
    height: 40px;
    width: 100px;
    opacity: .8;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    padding: 0;
}

input.btn:hover, a button.btn:hover{
    cursor: pointer;
    transform: scale(1.03);
    opacity: 1;
}

.links {
    margin: 12px;
    font-size: 20px;
}

.links a {
    text-decoration: none;
    font-size: 23px;
    color: black;
    opacity: .8;
    font-weight: 700;
    margin: 0;
    height: 30px;
}

.links a:hover {
    opacity: 1;
}

.Emessage {
    height: 230px;
    padding: 12px 16px;
    border-radius: 10px;
    width: 300px;
    font-size: 33px;
    font-weight: 600;
    box-shadow: 3px 3px 9px rgb(0, 0, 0, .8);
    color: red;
}

.Emessage p {
    margin-top: 20px;
}

.Ebtn {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 0 0 0 170px;
    font-size: 25px;
}

.Ebtn:hover {
    transform: scale(1.03);
}

.message {
    height: 150px;
    padding: 6px 8px;
    border-radius: 10px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    box-shadow: 3px 3px 9px rgb(0, 0, 0, .8);
    color: rgb(28, 202, 28);
}

.message .btn {
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: rgb(28, 202, 28);
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 0 0 0 170px;
    font-size: 20px;
}

.message .btn:hover {
    transform: scale(1.03);
}

.bx {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.bx .h {
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

.bx h1{
    font-size: 90px;
    color: #9fa9a3;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0 12px;
}

.bx p{
    margin: 20px 0 0 20%;
    font-size: 45px;
    font-weight: 700;
}

.bx p b.one {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0 12px;
    font-size: 70px;
}

.bx p b.three {
    font-size: 50px;
    color: #454140;
    padding: 12px 0;
    background-color: yellow;
    margin: 0 12px;
}

.bx p b.four {
    font-size: 50px;
    color: rgb(255, 0, 0);
    padding: 12px 0;
    margin: 0 12px;
}

.bx a button.btns {
    margin-left: 60%;
    margin-bottom: 10%;
    height: 60px;
    background-color: rgb(255, 0, 0, .8);
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 800;
    border: none;
    width: 140px;
    border-radius: 10px;
}

.bx a button.btns:hover {
    background-color: rgb(255, 0, 0, 1);
    transform: scale(1.03);
    cursor: pointer;
}